Repository ivolnistov/fastapi-jwt-harmony: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, mypy, pylint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_language_version:
  python: python3

repos:
  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
      - id: mixed-line-ending
      - id: check-case-conflict
      - id: check-docstring-first

  # Security - detect secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        exclude: '^(poetry\.lock|package-lock\.json|yarn\.lock|pnpm-lock\.yaml|tests/.*|.*\.min\.js|.*\.min\.css)$'

  # Ruff - Fast Python linter (local)
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: uv run --dev ruff check --fix
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff-format
        name: ruff format
        entry: uv run --dev ruff format
        language: system
        types: [python]
        pass_filenames: false

  # MyPy - static type checker (local)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run --dev mypy src/fastapi_jwt_harmony
        language: system
        types: [python]
        files: ^src/fastapi_jwt_harmony/
        pass_filenames: false

  # Pylint - additional linting (local)
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: uv run --dev pylint src/fastapi_jwt_harmony --fail-under=9.0
        language: system
        types: [python]
        files: ^src/fastapi_jwt_harmony/
        pass_filenames: false

  # Bandit - security linter
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.7
    hooks:
      - id: bandit
        args: ['-ll', '--skip', 'B101,B601,B602,B607', '-r', 'src/']
        exclude: ^tests/

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [mypy, pylint, ruff-check, ruff-format]  # Skip local hooks in CI

Initial commit
  README.md
Due: none

Temporarily remove workflows for initial push
  .github/workflows/ci.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

Add GitHub workflows
  .github/workflows/ci.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

Bump version to 0.1.0 for release
  src/fastapi_jwt_harmony/version.py
Due: ruff-check, ruff-format, mypy, pylint

Create .github directory
  .github/README.md
Due: none

Create publish.yml
  .github/workflows/publish.yml
Due: none

Fix README emoji rendering and remove .github/README.md
  .github/README.md
  README.md
Due: none

Temporarily remove workflows
  .github/workflows/ci.yml
  .github/workflows/pre-release.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

Restore workflows and remove Roadmap section
  .github/workflows/ci.yml
  .github/workflows/pre-release.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  README.md
Due: none

Remove duplicate publish.yml workflow
  .github/workflows/publish.yml
Due: none

Add PyPI version badge to README
  README.md
Due: none

Fix Windows installation test in release workflow
  .github/workflows/release.yml
Due: none

Fix release workflow for Windows and first release
  .github/workflows/release.yml
Due: none

Release v0.1.1
  .github/workflows/release.yml
  INITIAL_PYPI_PUBLISH.md
  src/fastapi_jwt_harmony/version.py
Due: ruff-check, ruff-format, mypy, pylint

Restore environment configuration for PyPI publishing
  .github/workflows/release.yml
  MANUAL_PYPI_PUBLISH.md
  fastapi_jwt_harmony-0.1.1-py3-none-any.whl
  fastapi_jwt_harmony-0.1.1.tar.gz
Due: none

Fix CI/CD workflow and cleanup
  .github/workflows/ci.yml
  .gitignore
  INITIAL_PYPI_PUBLISH.md
  MANUAL_PYPI_PUBLISH.md
  VERSION_MANAGEMENT.md
  fastapi_jwt_harmony-0.1.1-py3-none-any.whl
  fastapi_jwt_harmony-0.1.1.tar.gz
Due: none

Fix CI/CD dependency installation
  .github/workflows/ci.yml
Due: none

Add py.typed support and bump version to 0.1.2
  src/fastapi_jwt_harmony/py.typed
  src/fastapi_jwt_harmony/version.py
Due: ruff-check, ruff-format, mypy, pylint

Fix project URLs and bump version to 0.1.3
  pyproject.toml
  src/fastapi_jwt_harmony/version.py
Due: ruff-check, ruff-format, mypy, pylint

Add Python 3.13 support to all CI workflows
  .github/workflows/ci.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

refactor\!: remove authjwt_ prefix from all configuration fields
  README.md
  docs/API.md
  src/fastapi_jwt_harmony/__init__.py
  src/fastapi_jwt_harmony/auth_jwt.py
  src/fastapi_jwt_harmony/base.py
  src/fastapi_jwt_harmony/config.py
  src/fastapi_jwt_harmony/dependencies.py
  src/fastapi_jwt_harmony/fastapi_auth.py
  src/fastapi_jwt_harmony/websocket_auth.py
  tests/conftest.py
  tests/test_config.py
  tests/test_cookies.py
  tests/test_create_token.py
  tests/test_decode_token.py
  tests/test_denylist.py
  tests/test_headers.py
  tests/test_token_multiple_locations.py
  tests/test_url_protected.py
  tests/test_websocket.py
Due: ruff-check, ruff-format, mypy, pylint

chore: bump version to 0.2.0 for breaking changes
  src/fastapi_jwt_harmony/version.py
Due: ruff-check, ruff-format, mypy, pylint

fix: create new auth instance after config change in test_verified_token
  tests/test_decode_token.py
Due: ruff-check, ruff-format

fix: remove publish step from CI workflow to avoid trusted publisher conflicts
  .github/workflows/ci.yml
Due: none

feat: add CI status check before release
  .github/workflows/release.yml
Due: none
